/* BASE STYLES */

:root {
    --clr-dark: black;
    --clr-light: white;
    --clr-accent: red;
    --clr-background: linear-gradient(180deg, rgba(169, 202, 255, 1.000) 0.000%, rgba(184, 203, 255, 1.000) 16.667%,
    rgba(211, 203, 255, 1.000) 33.333%, rgba(240, 200, 249, 1.000) 50.000%, rgba(255, 197, 241, 1.000) 66.667%,
    rgba(255, 192, 236, 1.000) 83.333%, rgba(255, 186, 236, 1.000) 100.000%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Roboto', sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*border: 10px solid lightblue;*/
    background: var(--clr-background);
    padding: 10px;
}

.item {
    width: 150px;
    height: 50px;
    background-color: transparent;
    padding: 5px;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 2px solid lightslategrey;
    border-radius: 10px;
}

/* END OF BASE STYLES */

.container {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    align-items: flex-start;
    /*flex-wrap: wrap;*/
    /*align-content: flex-start;*/
    /*gap: 1em;*/
}

.navbar {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    align-items: flex-start;
    /*flex-wrap: wrap;
    align-content: flex-start;*/
    gap: 1em;
}

.item-1 {
    /*flex-grow: 1;*/ /*grow tab to take up remaining space, how fast item grows relative to others*/
    /*flex-shrink: 0;*/ /*refuse to shrink when page squished, how fast item shrinks relative to others*/
    /*flex-basis: 0;*/ /*define item space before remaining space is distributed*/
    /*flex: 1;*/ /*all 3 combined, 2nd 3rd param optional*/
    /*align-self: flex-end;*/ /*override align-items in container*/
    /*order: -1;*/ /*override order in which items appear, all items 0 by default, shdnt use unless necessary*/
}

