.pages {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.15);
}

/*start of LearnPage styles*/

.search {
  --padding: 14px;

  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  transition: background 0.25s;
  background: rgba(128, 128, 128, 0.15);
}

.search:focus-within {
  box-shadow: none;
  transform: scale(1.05);
}

.search:hover {
  background: rgba(128, 128, 128, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
  transition: none !important;
}

.search-input {
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.learnListHeader {
  padding-top: 10px;
  margin-bottom: 0px;
}

.learnList {
  margin-top: 0px;
}

.learnListHeaderItem {
  /* Layout */
  width: 800px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* Typography */
  font-weight: 300;
  color: var(--clr-dark);
  text-decoration: none;
  text-align: center;
  font-weight: bold;

  /* Visual */
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.2);
  /*border: 1px solid var(--clr-dark);*/ /* Keep commented unless needed */
}

.learnListItem {
  /* Layout */
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  /* Typography */
  font-weight: 300;
  color: var(--clr-dark);
  text-decoration: none;
  text-align: center;

  /* Visual */
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.15);
  /*border: 1px solid var(--clr-dark);*/ /* Keep commented unless needed */

  /* Interaction */
  transition: all 0.3s ease;
  cursor: pointer;
}

.learnListItem:hover {
  transform: scale(1.05);
  background-color: rgba(128, 128, 128, 0.2);
}

.algorithm-image {
  width: 100%;
  height: 100%;
  padding-left: 0px;
  object-fit: cover;
  object-position: center;
}

.stepsListItem {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 20px 0;
}

.alg_steps span {
  white-space: nowrap; /* Keep each step on one line */
}

ul li span:nth-child(1) {
  width: 100px;
  text-align: left;
  /*border: 1px solid var(--clr-dark);*/ /* Keep commented unless needed */
}

ul li span:nth-child(2) {
  width: 120px;
  /*border: 1px solid var(--clr-dark);*/ /* Keep commented unless needed */
}

ul li span:nth-child(3) {
  width: 80px;
  text-align: left;
  /*border: 1px solid var(--clr-dark);*/ /* Keep commented unless needed */
}

ul li span:nth-child(4) {
  width: 330px;
  text-align: left;
  /*border: 1px solid var(--clr-dark);*/ /* Keep commented unless needed */
}

ul li span:nth-child(5) {
  width: 100px;
  text-align: center;
  /*border: 1px solid var(--clr-dark);*/ /* Keep commented unless needed */
}

/*end of LearnPage styles*/
